{{/*
  Copyright 2018 Sam Mussmann
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
*/}}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Copyright</title>
</head>
<body>
<p>Scripture quotations marked &ldquo;ESV&rdquo; are from the ESV&circledR;
Bible (The Holy Bible, English Standard Version&circledR;), copyright &copy;
2001 by Crossway, a publishing ministry of Good News Publishers. Used by
permission. All rights reserved. You may not copy or download more than 500
consecutive verses of the ESV Bible or more than one half of any book of the
ESV Bible.</p>
</body>
</html>
