{{/*
  Copyright 2016 Sam Mussmann
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
*/}}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Daily Prayer for {{ .Format "January 2, 2006" }}</title>
<style>
body {
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
}
p.all {
  font-weight: bold;
}
p.officiant::before, p.all::before {
  margin-left: -5em;
  font-style: italic;
  font-weight: normal;
  font-size: 85%;
  width: 5em;
  float: left;
}
p.officiant::before {
  content: "Officiant";
}
p.officiant + p.officiant::before {
  display: none;
}
p.all::before {
  content: "All";
}
p.all + p.all::before {
  display: none;
}
p.officiant, p.all {
  margin-left: 5em;
  margin-top: 0em;
  margin-bottom: .5em;
}
p.rubric {
  font-style: italic;
  color: #da1919;
  font-size: 85%;
}
p.spacer {
  margin-top: 0;
  margin-bottom: 0;
}
b.verse-num {
  position: relative;
  top: -0.5em;
  font-size: 75%;
}
span.selah {
  font-style: italic;
  float: right;
}
span.small-caps {
  font-variant: small-caps;
}
span.indent, span.antiphon span.second-line {
  display: inline-block;
  padding-left: 2em;
}
a.copyright {
  font-size: 75%;
}
p.reference {
  font-size: 75%;
  font-style: italic;
  float: right;
}
h1 {
  margin: 0;
  text-align: center;
}
p.subtitle {
  font-style: italic;
  text-align: right;
  margin: 0;
}

</style>
</head>
<body>
<h1>Daily Prayer for {{ .Format "January 2, 2006" }}</h1>
<p class=subtitle>Hosted by <a href=http://lsfpgh.com/>LSF Pittsburgh</a></p>
<hr />
<br>
<p class=reference>Psalm 70:1</p>
<p class=officiant>O God, make speed to save us.</p>
<p class=all>O Lord, make haste to help us.</p>
{{ if ge daysUntilEaster 14 }}
<p class=all>Glory to the Father, and to the Son, and to the Holy Spirit:
as it was in the beginning, is now, and ever shall be, world without end. Amen.</p>
{{ else }}
<p class=rubric>During Passiontide, the Gloria Patri is omitted.</p>
{{ end }}

{{ if antiphon }}
<p class=rubric>The antiphon is read together.</p>
<p class=all>{{ antiphon }}</p>
{{ end }}

<p class=rubric>The following Psalms are read</p>
{{ reading (week_at_a_time_lectionary "Psalm  16; Psalm  72; Psalm 142" "Psalm  80; Psalm 144" "Psalm  61; Psalm  71; Psalm 126" "Psalm  81; Psalm 147" "Psalm  13; Psalm  38; Psalm 111" "Psalm  14; Psalm  25; Psalm  29" "Psalm  41; Psalm  59; Psalm  82" "Psalm   9; Psalm  98; Psalm 131; Psalm 133" "Psalm  39; Psalm  90; Psalm 146" "Psalm 114; Psalm 136" "Psalm   8; Psalm  33; Psalm  70" "Psalm  34; Psalm  65" "Psalm  55; Psalm 110; Psalm 117; Psalm 124" "Psalm  23; Psalm 118" "Psalm  42; Psalm  99; Psalm 116" "Psalm  53; Psalm 102" "Psalm  76; Psalm 128; Psalm 135" "Psalm  47; Psalm 115; Psalm 121" "Psalm  75; Psalm  88; Psalm 129" "Psalm   4; Psalm  26; Psalm  51" "Psalm  15; Psalm  87; Psalm 103" "Psalm  31; Psalm  60" "Psalm   7; Psalm  67; Psalm 148" "Psalm   1; Psalm  50; Psalm  64" "Psalm  45; Psalm  93; Psalm  96" "Psalm  62; Psalm  77; Psalm 127" "Psalm  22; Psalm 149" "Psalm  68" "Psalm  24; Psalm  66; Psalm 138" "Psalm  10; Psalm  46; Psalm 141" "Psalm  30; Psalm 125; Psalm 132" "Psalm  73; Psalm 150" "Psalm  44; Psalm 101" "Psalm  94; Psalm 120; Psalm 122" "Psalm  85; Psalm 145" "Psalm  49; Psalm  57; Psalm 100" "Psalm   3; Psalm  17; Psalm  86" "Psalm 104" "Psalm  28; Psalm  74; Psalm 123") }}

{{ if ge daysUntilEaster 14 }}
<p class=rubric>After the Psalms, the Officiant begins</p>
<p class=all>Glory to the Father, and to the Son, and to the Holy Spirit:
as it was in the beginning, is now, and ever shall be, world without end. Amen.</p>
{{ else }}
<p class=rubric>During Passiontide, the Gloria Patri is omitted.</p>
{{ end }}

{{ if antiphon }}
<p class=rubric>The antiphon is read together.</p>
<p class=all>{{ antiphon }}</p>
{{ end }}

<p class=rubric>A brief silence is kept.</p>
{{ reading pillar_lectionary }}
<p class=rubric>A brief silence is kept after the readings.</p>
<p class=officiant>Lord, have mercy</p>
<p class=all>Christ, have mercy</p>
<p class=all>Lord, have mercy</p>
<p class=spacer>&nbsp;</p>
<p class=all>Our Father, who art in heaven,<br />
hallowed be thy Name,<br />
thy kingdom come, thy will be done,<br />
on earth as it is in heaven.<br />
Give us this day our daily bread.<br />
And forgive us our trespasses,<br />
as we forgive those who trespass against us.<br />
And lead us not into temptation, but deliver us from evil.<br />
For thine is the kingdom, and the power, and the glory,<br />
for ever and ever. Amen.</p>

<p class=spacer>&nbsp;</p>

<p class=reference>Psalm 102:1</p>
<p class=officiant>Lord, hear our prayer</p>
<p class=all>And let our cry come to you.</p>

<p class=rubric>Silence is kept and free intercessions or petitions may be offered</p>

<p class=officiant>Heavenly Father, send your Holy Spirit into our hearts, to direct and rule us according to your will, to comfort us in all our afflictions, to defend us from all error, and to lead us into all truth; through Jesus Christ our Lord.</p>
<p class=all>Amen.</p>
<p class=spacer>&nbsp;</p>

<p class=reference>[Psalm 103:1]</p>
<p class=officiant>Let us bless the Lord.</p>
<p class=all>Thanks be to God.</p>
<p class=reference>2 Cor 13:14</p>
<p class=officiant>The grace of our Lord Jesus Christ, and the love of God, and the fellowship of the Holy Spirit, be with us all evermore.</p>
<p class=all>Amen.</p>

<p class=spacer>&nbsp;</p>
<p class=subtitle>For notes on the order used, click <a href="/notes">here</a></p>
</body>
