{{/*
  Copyright 2016 Sam Mussmann
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
*/}}
<html>
<head>
  <title>Daily Prayer Service Notes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
body {
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
}
  h1 {
    margin: 0;
    text-align: center;
  }
  p.subtitle {
    font-style: italic;
    text-align: right;
    margin: 0;
  }

  </style>
</head>
<body>
<h1>Daily Prayer: Service Notes</h1>
<p class=subtitle>Hosted by <a href=http://lsfpgh.com/>LSF Pittsburgh</a></p>
<hr />
<p style="font-size: larger">Go <a id="today" href="/">here</a> for today's order of service.</p>
<h3>Notes about the prayer order</h3>

<p><b>The Order</b> This order is simple, consisting of an opening, some
Psalms, two Scripture readings, and prayer.  It follows the structure of the
Noonday office in the Lutheran Service Book and the Book of Common Prayer,
albeit with more variation in the psalms and Scripture readings.</p>

<p><b>The Psalms</b>  The Psalms change weekly.  They are chosen to total
between thirty and forty verses, and to cover the Psalter as fully as possible
before the pattern restarts, a cycle of forty weeks, more or less.</p>

<p><b>The Readings</b> The readings are taken from the Pillar lectionary.  They
are designed to be self-contained (without arcs continuing from day to day.)</p>

<p><i>Powered by <a href="https://bitbucket.org/smussmann/ordo">Ordo</a>.</i></p>
</body>
</html>
